.shoppingListHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background: #065685;
    color: #fff;
    padding: 20px;
  }
  
  .shoppingBasketHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background: #068517;
    color: #fff;
    padding: 20px;
  }

.noItem {
  color: grey;
  text-align: center;
  padding-top: 30px;
}